/* Body Part */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: aliceblue;
}

/* Fonts */
h1 {
  font-size: 60px;
  color: aliceblue;
  font-weight: 900;
}

span {
  color: orangered;
}

h3 {
  font-size: 30px;
  color: white;
  margin-left: 6%;
  font-weight: bolder;
}

p {
  font-size: 18px;
  color: aliceblue;
}

/* First Section */
.banner {
  background-image: url(/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10%;
  text-align: center;
}

.donate-button {
  text-decoration: none;
  background-color: orange;
  color: aliceblue;
  padding: 13px 55px;
  border: 1px solid orange;
  border-radius: 6px;
}

/* Second Section */
.donation-section {
  background-color: rgb(236, 236, 236);
}

.flex-container {
  width: 75%;
  margin: auto;
  display: flex;
}

.donation-heading {
  text-align: center;
  color: black;
  margin-top: 70px;
}

.donation-element {
  border: 1px solid antiquewhite;
  border-radius: 7px;
  box-shadow: 10px 10px 10px 5px gray;
  margin: 10px 30px 60px;
  padding: 40px 10px;
  text-align: center;
  background-color: linen;
}

#medical-help {
  background-color: lightpink;
}

.element-heading {
  font-size: 35px;
}

.donation-paragraph {
  color: black;
}

/* Third Section */

.children-img {
  background-image: url(/images/larm-rmah-AEaTUnvneik-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 100px;
}

.children-section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.helping-text {
  color: black;
}

#flex-container {
  display: flex;
}

.help-element {
  width: 35%;
  margin-left: 150px;
}

/* Fourth Section */

.charity-element1 {
  background-image: url(/images/joel-muniz-3k3l2brxmwQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 50px;
  text-align: center;
}
.charity-element2 {
  background-image: url(/images/elyse-chia-kyeJW1zRH0I-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 50px;
  text-align: center;
}
.charity-element3 {
  background-image: url(/images/jo-szczepanska-Cp-b69OOyN4-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.charity-heading {
  color: white;
  font: normal;
}
.charity-paragraph {
  color: white;
  font: normal;
}

.flexible-container {
  display: flex;
}

.charity-section {
  margin-top: 50px;
  margin-bottom: 100px;
}

/* Fifth Section */

hr {
  width: 50%;
  margin-bottom: 30px;
}
.amount-heading {
  color: black;
}
.amount-paragraph {
  color: black;
}

.amount {
  text-align: center;
  margin-top: 50px;
  border: none;
  padding: 10px 0;
}

.flex-amount-container {
  display: flex;
}
.donate-now-section {
  text-align: center;
  background-color: lavender;
  margin-bottom: 50px;
  padding: 100px;
}
.amount-headings {
  width: 50%;
  margin: auto;
  border: 1px solid antiquewhite;
  border-radius: 7px;
  box-shadow: 10px 10px 10px 5px gray;
  margin: 10px 30px;
  padding: 40px 15px;
  text-align: center;
  background-color: linen;
}

/* Last Section */
.form-container {
  text-align: center;
  padding: 100px 50px;
  margin: 50px 400px;
  background-color: powderblue;
}
.form-input {
  padding: 10px 40px;
  border-radius: 5px;
}
#submit-btn {
  background-color: tomato;
  border-radius: 5px;
  color: aliceblue;
}
.form-heading {
  font-size: xx-large;
  text-align: center;
}

/* Footer */

footer {
  background-color: rgb(35, 24, 24);
  padding: 50px;
  color: aliceblue;
  text-align: center;
}

.copy-text {
  color: red;
}
